/* Custom styles for WebKit browsers */
input[type="range"].custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 24px !important;
    width: 12px !important; 
    background: #9333ea !important; /* plum-600 */
    border-radius: 4px !important;
    margin-top: -9px !important; /* Center on 6px track */
    cursor: pointer !important;
    transition: background 0.3s !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75) !important;
    border: none !important;
  }
  input[type="range"].custom-slider::-webkit-slider-thumb:hover {
    background: #a855f7 !important; /* plum-500 */
  }
  
  /* Firefox */
  input[type="range"].custom-slider::-moz-range-thumb {
    height: 24px !important;
    width: 12px !important;
    background: #9333ea !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: background 0.3s !important;
    border: none !important;
  }
  input[type="range"].custom-slider::-moz-range-thumb:hover {
    background: #a855f7 !important;
  }

  /* Track styling */
  input[type="range"].custom-slider {
    -webkit-appearance: none !important;
    width: 100% !important;
    height: 6px !important;
    background: #171717 !important; /* neutral-900 */
    border-radius: 3px !important;
    outline: none !important;
  }
