.select {
    position: relative;
}
  
.select__input {
    color: inherit;
    padding: 2.2rem 3.2rem 0.8rem 1.6rem !important;
    font-size: 1.6rem;
    font-family: "Bungee", sans-serif;
    height: 4.8rem;
    border: 1px solid theme(colors.neutral.500);
  
    option {
        color: inherit;
    }
    
    @media (max-width: 639px) {
        width: 100%;
    }
    @media (min-width: 640px) {
        width: max-content;
    }
}
  
.select__label {
    font-size: 1rem;
    color: #b7b7b7;
    left: 1.6rem;
    pointer-events: none;
    position: absolute;
    top: .8rem;
}

.select__icon {
    position: absolute;
    top: 1.2rem;
    right: .8rem;
    pointer-events: none;
}

.select--style-for-button .select__input {
    min-width: 18rem;
    @media (max-width: 767px) {
        flex-grow: 1;
        width: 100%;
    }
}