@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
}

body {
  background: #000000;
  background-image: url("../public/images/bg.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-weight: 400;
  line-height: 1;
}

.heading-1 {
  font-family: "Bungee", sans-serif;
  font-size: 4.8rem;
}
.heading-2 {
  font-family: "Bungee", sans-serif;
  font-size: 3.2rem;
}
.heading-3 {
  font-family: "Bungee", sans-serif;
  font-size: 2.8rem;
}
.heading-4 {
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
}
.heading-5 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.4rem;
  text-transform: uppercase;
}
.heading-6 {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}

/* ------- */
/* Helpers */
/* ------- */

.global-container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2.4rem;
}

.bg-glow {
  box-shadow: inset 0 0 2.4rem 0 rgba(255, 255, 255, .25), 0 0 2.4rem 0 rgba(0, 0, 0, .5);
  background-color: rgba(72, 72, 72, .1);
}
.bg-glow--hover:hover {
  box-shadow: inset 0 0 2.4rem 0 rgba(255, 255, 255, .25), 0 0 2.4rem 0 theme('colors.neutral.500');
}
.bg-glow--active {
  box-shadow: inset 0 0 2.4rem 0 rgba(255, 255, 255, .5), 0 0 2.4rem 0 theme('colors.neutral.300');
  border-width: 1px;
  border-style: solid;
  border-image: none !important;
}
.bg-glow--sm {
  box-shadow: inset 0 0 1rem 0 rgba(255, 255, 255, .25), 0 0 2.4rem 0 rgba(0, 0, 0, .5);
}

.divider-glow {
  border-top: .1rem solid theme('colors.neutral.600');
  background: radial-gradient(ellipse at top, theme('colors.neutral.600') 0%, transparent 64%);
  height: 1.2rem;
  width: 100%;
}
.divider-glow-dark {
  background: radial-gradient(ellipse at top , theme('colors.neutral.950') 0%, transparent 75%);
  height: 1.6rem;
  width: 100%;
}

.gradient-text-dark {
  background: -webkit-linear-gradient(theme('colors.neutral.700'), theme('colors.neutral.800'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-medium {
  background: -webkit-linear-gradient(theme('colors.neutral.500'), theme('colors.neutral.800'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-light {
  background: -webkit-linear-gradient(theme('colors.neutral.300'), theme('colors.neutral.600'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border {
  border-width: .1rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, theme('colors.neutral.600'), theme('colors.neutral.500')) 1;
}
.gradient-border-extreme {
  border-width: .1rem;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(96,96,96,1) 0%, rgba(79,79,79,1) 20%, rgba(140,140,140,1) 30%, rgba(241,241,241,1) 40%, rgba(241,241,241,1) 60%, rgba(140,140,140,1) 70%, rgba(79,79,79,1) 80%, rgba(96,96,96,1) 100%) 1;
  box-shadow: inset 0 0 2.4rem 0 rgba(255, 255, 255, .25), 0 0 3.2rem 0 rgba(255, 255, 255, .25);
}

.vertical-divider {
  width: .2rem;
  margin-right: 3.2rem;
  margin-left: 3.2rem;
  background: linear-gradient(to bottom, theme('colors.neutral.600'), theme('colors.neutral.500'));
}

.radial-gradient {
  opacity: .05;
  position: absolute;
  z-index: -1;
}
.radial-gradient--top-left {
  top: -45rem;
  left: -45rem;
  width: 90rem;
  height: 90rem;
}
.radial-gradient--top-right {
  top: -30rem;
  right: -60rem;
  width: 120rem;
  height: 120rem;
}


/* -------------- */
/* Custom Classes */
/* -------------- */

/* tire strategy */
.tire-compound--soft {
  filter: url(#inset-shadow-soft);
  fill: #230000;
  border: 1px solid #ffffff;
}
.tire-compound--medium {
  filter: url(#inset-shadow-medium);
  fill: #372e00;
}
.tire-compound--hard {
  filter: url(#inset-shadow-hard);
  fill: #242424;
}

/* season results pages */
.navLink {
  color: theme('colors.neutral.600');
}
.navLink.active {
  color: theme('colors.neutral.300');
}

.constructor-title {
  font-size: 8rem;
  margin-bottom: -3.2rem;
  line-height: .8;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 12.4rem;
    margin-bottom: -3.2rem;
  }
}

/* loading animation */
.loading-animation__title {
  backdrop-filter: blur(12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.2rem;
  background: linear-gradient(90deg, rgba(31,31,31,0) 0%, rgba(31,31,31,.7) 15%, rgba(31,31,31,.7) 5%, rgba(31,31,31,0) 100%);
  width: 150%;
  z-index: 1;
}
.loading-animation__title:before {
  content: '';
  background: radial-gradient(ellipse at bottom , theme('colors.neutral.900') 0%, transparent 50%);
  height: 1rem;
  width: 100%;
  position: absolute;
    bottom: 100%;
    left: 0;
}
.loading-animation__title:after {
  content: '';
  background: radial-gradient(ellipse at top , theme('colors.neutral.900') 0%, transparent 50%);
  height: 1rem;
  width: 100%;
  position: absolute;
    top: 100%;
    left: 0;
}

/* driver card */
.driver-card--canvas {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(12px);
  @media (max-width: 639px) {
    margin-bottom: 0;
  }
}

/* race canvas and controls */
.canvas-container {
  position: relative;
  height: 678px;
  width: 100%;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 656px;
  }
}

.canvas-container:after {
  box-shadow: inset 0 0 2.4rem 0 rgba(255, 255, 255, .25);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.race-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "play pause"
    "speed speed"
  ;

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "play pause speed"
    ;
  }
}

.race-controls__play { grid-area: play; }
.race-controls__pause { grid-area: pause; }
.race-controls__speed { grid-area: speed; }


/* lap chart */
.recharts-cartesian-axis-tick-value {
  font-size: 1rem;
  letter-spacing: .2rem;
}
.recharts-default-tooltip,
.custom-tooltip {
  background-color: rgba(0, 0, 0, .5) !important;
  backdrop-filter: blur(12px);
  border: .1rem solid transparent !important;
  border-image: linear-gradient(to bottom, theme('colors.neutral.600'), theme('colors.neutral.500')) 1;
  padding: .8rem;
}
.recharts-tooltip-label {
  font-family: "Bungee", sans-serif;
}

/* select input */
.select {
  position: relative;
}

.select__input {
  padding: 2.2rem 3.2rem 0.8rem 1.6rem !important;
  font-size: 1.6rem;
  font-family: "Bungee", sans-serif;
  
  @media (max-width: 639px) {
    width: 100%;
  }
}

.select__label {
  font-size: 1rem;
  color: #b7b7b7;
  left: 1.6rem;
  pointer-events: none;
  position: absolute;
  top: .8rem;
}

